body{
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope',
    sans-serif;
    font-size: 13px;
}

 .card {
     margin: 4%;
     border-radius: 13px;
 }

.left-preview {
    background-image: url("../images/drawers.jpg");
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    
}

.right-preview{
    padding: 0 3% 0;
}

.card-title{
    font-weight: bolder;
    color: hsl(217, 19%, 35%);
}

.card-text{
    font-size: 16px;
    color: hsl(214, 24%, 61%)
}

footer{
    display: grid;
    grid-template-columns: 40px 60% 15px;
    align-items: center;
    column-gap: 1rem;
     margin-top: 4%;
     margin-bottom: 10%;
}

footer .author-image img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

footer .article-info {
    display: flex;
    flex-direction: column;
}

footer .article-date {
    color: #9eafc2;
}

.share-icon {
    transform: translateY(7px) translateX(7px);
}

.popuptext {
    display: flex;
}

.popuptext img {
    padding: 2px;
    margin-top: 5px;
    margin-left: 2px;
}

.popuptext p {
    padding: 3px;
    margin-top: 15px;
    margin-left: 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: hsl(210, 46%, 95%);
    border-radius: 100%;
    width: 31px;
    height: 31px;
}

.popup img {
    transform: translateX(7px) translateY(7px);
}

.popup .popuptext {
    visibility: hidden;
    width:385px;
    height: 90px;
    background: hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    left: -300px;
    bottom: 80%;
    letter-spacing: 3px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

.popup .hide{
    animation: fadeOut 1s;
    visibility: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.attribution{
    text-align: center;
}

@media (min-width:62em){
    .card {
        margin: 14% 22% 5px;
        border-radius: 13px;
    }

    .left-preview {
        background-image: url("../images/drawers.jpg");
        background-position: left center;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        height: 320px;
    }

    .popup .popuptext {
        width: 190px;
        height: auto;
        background: hsl(217, 19%, 35%);
        color: hsl(212, 23%, 69%);
        text-align: center;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
         left: 0;
        bottom: 125%;
        margin-left: -80px;
        letter-spacing: 3px;
    }
}




